@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-partial: var(--font-partial-sans);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-neutral-900 text-white font-sans;
}

/* 드래그 색 */
::selection {
  /* 선택한 텍스트 배경 색 */
  background-color: rgb(0, 201, 80, 0.6);
  opacity: 50;
  /* 선택한 텍스트 글자색 */
  color: white;
}

@layer components {
  .fancy-fill-btn {
    @apply relative inline-flex items-center gap-2 px-4 py-2 font-semibold font-sans rounded overflow-hidden border border-green-500 text-green-500 transition-colors;
  }

  .fancy-fill-btn::before {
    content: "";
    @apply absolute inset-0 bg-green-500 transition-all duration-300 ease-out;
    width: 0%;
    left: 0;
    z-index: 1;
  }

  .fancy-fill-btn:hover::before {
    width: 100%;
  }

  .fancy-fill-btn:hover {
    @apply text-white;
  }

  .fancy-fill-btn>* {
    @apply relative z-2;
  }
}